#infoHeading {
  height: 5rem;
  background-color: black;
  color: #ffcc01;
  text-align: center;
  font-family: allerta stencil;
  font-weight: 400;
}

.infoHeaderImage {
  height: 10rem;
}

#recordform Button {
  background-color: #ffcc01;
  color: black;
  font-family: allerta stencil;
}

#recordform {
  border: black solid 2px;
}
.recordform {
  border: black solid 2px;
  background-color: rgb(208, 208, 208);
}

.convoybody {
  margin-top: -20rem;
  height: 200rem;
}

.convoyaddform {
  position: relative;
  margin-left: 10rem;
  top: 17.5rem;
}

.convoyaddform input {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  border: none;
}
.convoyaddform Button {
  height: 3rem;
  margin: 0;
  top: -2px;
  background-color: #ffcc01;
  color: black;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#selectconvoyheader {
  background-color: #ffcc01;
  color: black;
  font-size: 30px;
  font-family: allerta stencil;
}

.convoytoggle {
  background-color: black;
  top: 20px;
}
#convoydropdown {
  top: 20rem;
}

#convoyname h2,
h4 {
  font-family: allerta stencil;
  font-size: 40px;
  text-align: center;
  margin-top: 20rem;
}

.category-buttons {
  position: relative;
  left: 40rem;
  margin: 5rem;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 7px;
  height: 4rem;
  min-width: 6rem;
  max-width: 10rem;
  background-color: #ffcc01;
}

#info-img {
  max-height: 30rem;
}
@media screen and (min-width: 900px) {
  #info-img {
    max-height: 20rem;
    max-width: 20rem;
    margin-left: 55rem;
    border: solid;
    margin: 15px;
  }
}

#info-card {
  margin: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 8rem;
}

#recordformheader {
  height: 30px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #ffcc01;
  font-family: allerta stencil;
}
