@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

#navigationheadertext {
  background-color: black;
  color: #ffcc01;
  text-align: center;
  font-family: allerta stencil;
  height: 5rem;
}
.navigationheaderimage {
  height: 7rem;
  color: black;
  background-color: #ffcc01;
}
.navigationheaderimage p {
  font-size: 25px;
  text-align: center;
  font-family: allerta stencil;
  font-weight: 400;
}
.navigationform Button {
  background-color: #ffcc01;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  color: black;
}
.navigationform {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 50rem;
}

#googlemap {
  position: relative;
  max-width: 30rem;
  margin-top: 10rem;
  margin-left: 2.5rem;
  border: solid black 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#directionscard {
  position: relative;
  width: 60rem;
  margin-left: 5rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#directionscard h3,
p {
  font-size: 20px;
  font-family: Raleway, sans-serif;
}
#directionscard li {
  position: relative;
  padding-inline-start: 0.5em;
  padding-top: 1.5em;
  border-bottom: 1px solid #48b2;
  cursor: default;
  transition: color 0.4s;
  font-family: Raleway, sans-serif;
  text-align: left;
  box-shadow: 1px 2px 4px #0003;
}

::marker {
  content: ">";
  color: #48b;
}

@media screen and (min-width: 800px) {
  #googlemap,
  #directionscard {
    margin-left: 35rem;
    min-width: 60rem;
    min-height: 50rem;
  }
}
