@import url(CssFiles/Navigation.css);
@import url(CssFiles/ConvoyInfo.css);
@import url(CssFiles/HomePage.css);

.App {
  text-align: center;
  background-color: rgb(165, 164, 164);
}

#body {
  background-color: rgb(208, 208, 208);
}

#logo {
  text-decoration: none;
  background-color: #000000;
  text-align: center;
  height: 1rem;
  font-family: allerta stencil;
}
#logo span {
  color: white;
  background-color: #000000;
  text-align: center;
}
#logo h1 {
  color: #ffcc01;
  text-align: center;
}
#registerlink,
#loginlink {
  color: #000000;
  margin: 1rem;
  text-decoration: none;
  top: -5rem;
  font-size: 20px;
}

#homelink {
  color: #000000;
  margin: 1rem;
  text-decoration: none;
  font-size: 25px;
}

.basic-navbar-nav {
  color: #000000;
}
.registrationheader h1 {
  color: #000000;
  font-family: allerta stencil;
}
.registrationheader span {
  color: #ffcc01;
  font-weight: 500;
}

.summarycard {
  border: #ffcc01 solid 2px;
}

#navbar Button {
  position: relative;
  color: black;
  background-color: #ffcc01;
  border: solid 1px black;

  /* max-width: 20vw;
  left: 15rem; */
}
#navlinks {
  font-size: 20px;
  position: relative;
  color: #ffcc01;
  text-align: center;
  /* padding-left: 40px; */
  top: -20px;
  margin: 1rem;
  font-family: allerta stencil;
}

.navbar Button {
  color: #ffcc01;
  min-height: 3rem;
  max-width: 100vw;
}
.navbar {
  background-color: #000000;
  min-height: 6rem;
  max-width: 100vw;
}

#navbar h1 {
  color: #f2f3f5;
  font-family: allerta stencil;
}
#navbar span {
  color: #ffcc01;
}

#logoutbutton .logoutbutton {
  position: relative;
  top: -1rem;
}

@media screen and (min-width: 700px) {
  #navbar Button {
    position: relative;
    left: 67rem;
  }
}

.App-header {
  background-color: #f2f3f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#message-input {
  min-height: 7rem;
  overflow-wrap: break-word;
}

@media screen and (max-width: 900px) {
  .category-buttons {
    min-height: 60px;
    min-width: 80px;
    margin-left: 50rem;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px;
    border: none;
  }
}

#homeheading {
  height: 12rem;
  text-align: center;
}
#homeheading h1 {
  margin-top: 3rem;
  font-size: 45px;
}

#carousel-home h2,
p {
  color: black;
  margin-top: 5px;
}
#carousel-home .d-block {
  width: 100%;
  height: 600px;
  margin-top: -400px;
}

.loginPage {
  background-image: repeating-linear-gradient(
    to bottom right,

    rgb(120, 79, 7),
    rgb(40, 68, 2),
    rgb(232, 218, 178)
  );
  height: 100vh;
  font-family: allerta stencil;
  color: rgb(232, 218, 178);
  text-align: center;
}
.loginPage p {
  text-align: center;
  color: rgb(232, 218, 178);
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .loginForm {
    position: relative;
    left: -34rem;
    top: 5rem;
    min-width: 32rem;
    min-height: 35rem;
  }
}

.loginForm {
  background-color: rgb(244, 241, 231);
  height: 45%;
  width: 50%;
  text-align: left;
  margin-top: 5rem;
  margin-left: 35rem;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  padding: 1rem;
}
#loginnavlink {
  color: rgb(10, 40, 10);
}

.registrationpage {
  background-image: repeating-linear-gradient(
    to bottom right,

    rgb(120, 79, 7),
    rgb(40, 68, 2),
    rgb(232, 218, 178)
  );
  height: 100vh;
  font-family: allerta stencil;
  color: white;
}

.registrationform {
  margin: 2rem;
}

.addMessageForm {
  border: none;
  max-width: 35rem;
  margin-left: 38rem;
  background-color: #f2f3f5;
  opacity: 0;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chat-bubble-user {
  margin: 2rem;
  max-width: 30rem;
  margin-right: 6rem;
}

.chat-bubble-other {
  margin: 2rem;
  right: 3rem;
  max-width: 30rem;
  background-color: rgb(252, 252, 247);
}
#chat-message {
  background-color: rgb(252, 252, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.chatHeader {
  background-color: black;
  color: #ffcc01;
  font-family: allerta stencil;
}
.chatHeader p {
  background-color: black;
  color: #ffcc01;
  font-family: allerta stencil;
}
.chatMenu p {
  position: relative;
  color: #ffcc01;
  font-family: allerta stencil;
  font-size: 18px;
  font-weight: 900;
  top: -15px;
}

.addchatgroupbutton {
  position: relative;
  left: 4rem;
  top: 7.5rem;
}

.chat-app {
  background-image: repeating-linear-gradient(
    to bottom right,

    rgb(120, 79, 7),
    rgb(40, 68, 2),
    rgb(232, 218, 178)
  );
}

#addMessage {
  background-color: rgb(245, 240, 240);
  min-width: 30rem;
  margin-right: 1rem;
  min-height: 3rem;
  border-radius: 25px;
}
.messageButton {
  max-width: 10rem;
  margin-left: 40rem;
  background-color: #ffcc01;
}

.togglebutton {
  position: relative;

  top: 5rem;
  right: 5rem;
}
.channelInput {
  position: relative;
  height: 2rem;
  right: -5rem;
  border-radius: 5px;
}

.chatMenu {
  height: 12rem;
  background-color: black;
  border-bottom: #ffcc01 solid 2px;
}
.chatMenu Button {
  background-color: #ffcc01;
  color: black;
  font-family: allerta stencil;
  margin-left: 60px;
  align-self: center;
}
.channelform {
  background-color: black;
}
#convoychatmenu {
  background-image: url(https://api.army.mil/e2/c/images/2023/01/25/37e8ff96/size1.jpg);

  max-width: 100%;
  border-bottom: #ffcc01 solid 1px;
}
.chatEditForm {
  border: #ffcc01 solid 2px;
  max-width: 30rem;
  background-color: rgb(2, 41, 3);
  margin-left: 30rem;
  border-radius: 10px;
  color: #f2f3f5;
}
.chatEditForm input {
  width: 25rem;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  #chat-message {
    position: relative;
    max-height: 20rem;
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 900px) {
  #addMessage {
    position: relative;
    top: 5rem;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 900px) {
  .messageButton {
    position: relative;
    top: 35px;
    left: 170px;
  }
}

@media screen and (max-width: 900px) {
  .chatEditForm {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .chat-bubble-other {
    position: relative;

    left: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .chat-bubble-user {
    position: relative;
    margin-bottom: 4rem;
  }
}
